<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/tooplate.css">

<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>

<div class="topnav">
   <a class="active" href="index.html">الصفحة الرئيسية</a>
  <a href="login.html">تسجيل الدخول</a>
  <a href="survey.html">الملف الشخصي</a>
  <a href="application.html">اسأل هنا</a>
  <a href="signup.html">أجب</a>
</div>


</body>
</html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register - Input Form by Tooplate</title>
	
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=El+Messiri&display=swap">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/tooplate.css">
    
</head>

<body id="register">

    <div class="container">
        <div class="row tm-register-row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12  mx-auto">
            

                <form action="" method="post"  >
                   <div class="tm-bg-black tm-form-pad-big">
                      <div class="form-group mb-5">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6 pr-0 tm-pl-xs-0">
                        
                        </div>
                       <div class="text-center mt-5">
                    </div> 
                    </div>
                  </div>
                    </div>
                </form>
            </div>
        </div>
        <footer class="row tm-mt-big mb-3">
            <div class="col-xl-12">
                <p class="text-center grey-text text-lighten-2 tm-footer-text-small">
                    Copyright &copy; 2020 H A C K 
                </p>
            </div>
        </footer>
    </div>

    <script src="js/jquery-3.2.1.slim.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>
</body>

</html>