{% load static %}
<!DOCTYPE html>

<html>
<head>
    <link href="https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/tooplate.css' %}">

<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="topnav">
    
  <a class="active" href="{% url 'home' %}">الصفحة الرئيسية</a>
  {% if not request.user.is_authenticated %}
  <a href="{% url 'new1' %}">حساب جديد </a>
  {% endif%}
  {% if not request.user.is_authenticated %}
  <a href="{% url 'log1' %}">تسحيل الدخول </a>
  {% endif%}
  <a href="{% url 'ask1' %}">اسأل هنا</a>
  <a href="{% url 'ans1' %}">أجب</a>
  {% if request.user.is_authenticated %}
  <a href="{% url 'out1' %}">تسجيل الخروج</a>
  {% endif%}



</div>


</body>
</html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey Questionnaire Form by Tooplate</title>

    <link href="https://fonts.googleapis.com/css2?family=El+Messiri&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="css/tooplate.css">
</head>

<body id="survey" class="font-weight-light">
    <div class="container tm-container-max-800">
        <div class="row">
            <div class="col-12">
                <header class="mt-5 mb-5 text-center">
                    <h3 class="mt-0 text-white">البيانات الشخصية</h3>
                </header>
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="tm-bg-black tm-form-block">
        
                     <div class="col-md-10 text-right text-white">
                        <div class="profile-head">
                                    <h8 id="first_name" name="first_name">
                                       {{ user.first_name }}
                                    </h8><br></br>
                        <div class="col-xl-13">
                        <P dir="rtl" align="right" >
                            <textarea class="p-3" name="message" id="message" cols="30" rows="3" placeholder=" اضف نبذة عنك..(اختياري)"></textarea>
                           </P>
                        </div>
                        <ul class="nav nav-tabs" id="myTab" role="tablist"dir="rtl">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">بياناتك</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="{% url 'ans1'%}" role="tab" aria-controls="profile" aria-selected="false">اسئلتك</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="{% url 'ask1'%}" role="tab" aria-controls="profile" aria-selected="false">أجوبتك</a>
                            </li>
                        </ul>
                         </div>
                     </div>
                     <div class="col-md-11 text-right">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="" role="tabpanel" aria-labelledby="home-tab"><br></br>
                                        <div class="row text-white">
                                            <div class="col-md-6 text-right">
                                                <label>{{user.username}}</label>
                                            </div>
                                            <div class="col-md-6 text-center">
                                                <p>:اسم المستخدم</p>
                                            </div>
                                        </div>
                                        <div class="row text-white">
                                            <div class="col-md-6 text-right">
                                                <label>{{ user.first_name }} </label>
                                            </div>
                                            <div class="col-md-6 text-center">
                                                <p> :الاسم </p>
                                            </div>
                                        </div>
                                        <div class="row text-white">
                                            <div class="col-md-6 text-right">
                                                <label>{{user.email}}</label>
                                            </div>
                                            <div class="col-md-6 text-center">
                                                <p> البريد الإلكتروني: </p>
                                            </div>
                                        </div>
                                        <div class="row text-white">
                                            <div class="col-md-6 text-right">
                                                <label>{{user.phone}}</label>
                                            </div>
                                            <div class="col-md-6 text-center">
                                                <p>:رقم الجوال</p>
                                            </div>
                                        </div>
                                        <div class="row text-white">
                                            <div class="col-md-6 text-right">
                                                <label>{{age}}</label>
                                            </div>
                                            <div class="col-md-6 text-center">
                                                <p>:العمر</p>
                                            </div>
                                        </div>
                                        <div class="row text-white">
                                            <div class="col-md-6 text-right">
                                                <label>:تلجنس</label>
                                            </div>
                                            <div class="col-md-6 text-center">
                                                <p>الجنس</p>
                                            </div>
                                        </div>
                                        
                            </div>


                        </div> 
                    </div>
                </div>
                </form>
            </div>
        </div>
        
        <footer class="row tm-mt-big mb-3">
            <div class="col-xl-12">
                <p class="text-center grey-text text-lighten-2 tm-footer-text-small">
                    Copyright &copy; 2020 H A C K 
                    
                </p>
            </div>
        </footer>
    </div>

    <script src="js/jquery-3.2.1.slim.min.js"></script>
    <script src="js/materialize.min.js"></script>
    <script>
        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>
</body>

</html>